{% extends "base.html" %}
{% block content %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-left">
                                        <p class="card-description">
                                            Введите наименование сборки<br>
                                            Лимит ~{{ (api_limit.available-api_limit.use) / 10 }} товаров
                                        </p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-right">
<!--                                        <button type="button" class="btn btn-primary"-->
<!--                                                >Все сборки-->
<!--                                        </button>-->
                                    </div>
                                </div>
                            </div>
                            <form class="forms-sample" method="post">
                                {{ csrf_input }}
                                <div class="form-group">
                                    <div class="input-group">
                                        {{ create_assembly.name }}
                                        <div class="input-group-append" style="width:33.4%;">
                                            {{ create_assembly.type }}
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Сохранить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

